<div class="card">
  <input
    type="number"
    class="form-control"
    placeholder="Enter EUR amount"
    [(ngModel)]="amount"
  />
  <div class="mb-3">
    <label class="form-label">Valiuta:</label>
    <select class="form-control" [(ngModel)]="from">
      <option *ngFor="let from of currencyList" [value]="from">
        {{ from }}
      </option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">Valiuta:</label>
    <select class="form-control" [(ngModel)]="to">
      <option *ngFor="let to of currencyList" [value]="to">
        {{ to }}
      </option>
    </select>
  </div>
  <button class="btn btn-info" (click)="converter(amount)">Convert</button>

  <div
    class="card-body p-3 mb-2 bg-warning text-white"
    *ngIf="kursas != null && loading && !err"
  >
    <i>Loading....</i>
  </div>
  <div class="card-body" *ngIf="kursas != null && !loading">
    <i>{{ from }}: {{ kursas?.amount }}</i>
    {{ to }}: {{ resultt }}
  </div>
  <div class="card-body" *ngIf="kursas != null && !loading">
    Data: <i>{{ kursas?.date }}</i>
  </div>
  <div class="card-body p-3 mb-2 bg-danger text-white" *ngIf="err">
    Error: <i>{{ error }}</i>
  </div>
</div>
